@use "../abstracts" as *;

html {
    font-size: 100%;
}

body {
    font-size: rem(14);
    font-family: $font-family;
    font-weight: weight("regular");
    color: color("secondary");
    background-color: color("primary");
    padding: 0;
    overflow: hidden;

    @include media-query("medium") {
        font-size: rem(16);
    }
}

a {
    text-decoration: none;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

input {
    outline: none;
}
