@use "../abstracts" as *;

.container {
    max-width: $max-width;
    margin: {
        left: auto;
        right: auto;
    }
    width: 90%;

    @include media-query("medium") {
        position: relative;
    }
}
