@use "../abstracts" as *;

.container {
    max-width: $max-width;
    margin: {
        left: auto;
        right: auto;
    }
    width: 100%;
}

.sub-container {
    max-width: $max-width;
    margin: {
        left: auto;
        right: auto;
    }
    width: 90%;

    @include media-query("medium") {
        width: 95%;
        position: relative;
    }
}
