@use "functions" as *;
@use "mixins" as *;

%search-form {
    display: flex;
    align-items: center;
}

%search-input {
    border: none;
    width: 100%;
    background-color: inherit;
}

%logo {
    font-size: rem(18);
    font-weight: weight("bold");

    @include media-query("medium") {
        font-size: rem(22);
    }
}

%close-btn {
    $size: rem(7);

    display: inline;
    float: right;
    margin-right: -$size;
    padding: 0 $size;
    color: color("secondary");

    @include media-query("medium") {
        display: none;
    }
}
