@use "functions" as *;
@use "mixins" as *;

%search-form {
    display: flex;
    align-items: center;
}

%search-input {
    border: none;
    width: 100%;
    background-color: inherit;
}

%logo {
    font-size: rem(18);
    font-weight: weight("bold");

    @include media-query("medium") {
        font-size: rem(22);
    }
}
