@use "../abstracts" as *;

.main {
    margin-top: rem(55);
}

.promotion {
    @include section;

    background-color: color("light-grey");

    &__info {
        @include media-query(rem(500)) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem(20);
        }
    }

    &__text {
        font-size: rem(14);
        text-align: center;
        margin-bottom: rem(10);
        text-transform: uppercase;

        @include media-query("medium") {
            font-size: rem(17);
            margin-top: rem(-32);
            margin-bottom: rem(0);
        }
    }

    &__icon {
        font-size: rem(20);
        margin-right: rem(3);

        @include media-query("medium") {
            font-size: rem(25);
        }
    }
}

.by-category {
    @include section;
}

.category {
    &__title {
        @include section-title;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        justify-items: center;
        grid-gap: 0 rem(15);
    }

    &__btn {
        @include button(rem(400));
    }
}

.popular-now {
    @include section;

    .title {
        @include section-title;
    }
}

.by-brand {
    @include section;
}

.brand {
    &__title {
        @include section-title;
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(10);

        @include media-query("medium") {
            gap: rem(15);
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__logo-container {
        outline: rem(1) solid color("secondary");
        padding: rem(20) 0;
        background-color: color("light-grey");

        @include media-query("medium") {
            padding: rem(35) 0;
        }

        &:hover,
        &:focus {
            background-color: rgba(color("secondary"), 0.3);
        }
    }

    &__logo {
        width: rem(90);
        margin: 0 auto;

        @include media-query("medium") {
            width: rem(110);
        }
    }
}

.cta {
    @include section;
    background-color: color("light-grey");

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-query(rem(500)) {
            justify-content: center;
            gap: rem(20);
        }
    }

    &__text {
        font-size: rem(16);
        width: 75%;

        @include media-query(rem(500)) {
            font-size: rem(18);
            width: auto;
        }
    }

    &__btn {
        display: inline-block;
        height: rem(30);
        line-height: rem(30);
        padding: 0 rem(10);
        color: color("primary");
        background-color: color("secondary");

        @include media-query(rem(500)) {
            height: rem(35);
            line-height: rem(35);
            padding: 0 rem(13);
        }
    }
}

.faq {
    @include section;

    &__title {
        @include section-title;
    }
}
