@use "../abstracts" as *;

.products {
    @include section;

    .load-more {
        &__info {
            text-align: center;
        }

        &__btn {
            @include button(rem(250));

            cursor: pointer;
        }
    }
}

.product {
    &__title {
        &--mobile {
            font-size: rem(16);
            margin-top: rem(50);

            @include media-query("medium") {
                display: none;
            }
        }

        &-link {
            font-size: rem(15);
            margin-top: rem(5);

            a {
                color: color("secondary");
                text-decoration: underline;
            }

            @include media-query("medium") {
                font-size: rem(16);
                margin-top: rem(55);
            }
        }
    }

    &__items {
        margin-top: rem(20);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        justify-items: center;
        grid-gap: 0 rem(15);

        @include media-query("medium") {
            margin-top: rem(25);
        }
    }
}
