@use "../abstracts" as *;

.back-to-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: rem(20);
    right: rem(20);
    font-size: rem(15);
    color: color("secondary");
    background-color: color("light-grey");
    border-radius: rem(5);
    border: rem(1.5) solid rgba(color("secondary"), .5);
    padding: rem(3) rem(8);

    @include media-query("medium") {
        bottom: rem(25);
        right: rem(25);
        font-size: rem(18);
        padding: rem(3) rem(10);
    }

    @include media-query("large") {
        bottom: rem(30);
        right: rem(35);
        padding: rem(5) rem(12);
    }
}