@use "../abstracts" as *;

.product {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: color("light-grey") color("primary");

    &::-webkit-scrollbar {
        height: rem(10);
    }

    &::-webkit-scrollbar-thumb {
        background-color: color("light-grey");
        border-radius: rem(30);
    }

    &__item-link {
        color: color("secondary");

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    &__item {
        &:not(:last-child) {
            padding-right: rem(12);
        }
    }

    &__img-container {
        position: relative;
        width: rem(300);

        @include media-query("medium") {
            width: rem(290);
        }
    }

    &__img {
        width: 100%;
        height: rem(260);
    }

    &__wishlist {
        cursor: default;
        position: absolute;
        top: rem(12);
        right: rem(12);
        font-size: rem(18);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: rem(5) rem(8) rem(20);
    }

    .name-placeholder {
        @include placeholder-box(rem(150));
        margin-bottom: rem(3);

        @include media-query("medium") {
            @include placeholder-box(rem(170));
            margin-bottom: rem(8);
        }
    }

    .price-placeholder {
        @include placeholder-box(rem(60));
    }

    .category-placeholder {
        @include placeholder-box(rem(180));

        @include media-query("medium") {
            @include placeholder-box(rem(200));
        }
    }
}
