@use "../abstracts" as *;

.slider-product {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: rem(10);

    @include scrollbar;

    &::-webkit-scrollbar {
        height: rem(10);
    }

    @include media-query("medium") {
        padding-bottom: rem(15);
    }

    &__item {
        cursor: pointer;

        &:not(:last-child) {
            padding-right: rem(12);
        }

        &:hover div,
        &:focus div {
            background-color: color("secondary");
            color: color("light-grey");

            & .slider-product__name {
                text-decoration: underline;
            }

            & .slider-product__wishlist {
                color: color("secondary");
            }
        }
    }

    &__img-container {
        position: relative;
        width: rem(300);

        @include media-query("medium") {
            width: rem(290);
        }
    }

    @include product;

    @include placeholder-product;
}
