@use "../abstracts" as *;

.slider-product {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

    @include scrollbar;

    &::-webkit-scrollbar {
        height: rem(10);
    }

    &__item {
        &:not(:last-child) {
            padding-right: rem(12);
        }
    }

    &__img-container {
        position: relative;
        width: rem(300);

        @include media-query("medium") {
            width: rem(290);
        }
    }

    @include product;

    @include placeholder-product;
}
