@use "../abstracts" as *;

.nav {
    padding: rem(15) 0;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: color("primary");
    width: 100%;
    max-width: $max-width;
    box-shadow: rem(0) rem(1) rem(3) rgba(color("secondary"), 0.2);

    &__logo {
        @extend %logo;
        color: color("secondary");
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--center {
            @include overlay;

            padding: rem(10) rem(20);

            @include media-query("medium") {
                all: unset;
            }

            .nav__close {
                @extend %close-btn;
            }

            .nav__items {
                margin-top: rem(30);

                @include media-query("medium") {
                    display: flex;
                    gap: rem(40);
                    margin-top: 0;
                }
            }

            .nav__item {
                @include media-query("medium") {
                    position: relative;
                }
            }

            .nav__checkbox {
                display: none;

                @include dropdown-caret(".nav");
            }

            .nav__caret {
                display: inline;
                transition: all 0.3s ease-out;

                @include media-query("medium") {
                    display: none;
                }
            }

            .jc-space-between {
                display: flex;
                justify-content: space-between;

                @include media-query("medium") {
                    all: unset;
                }
            }

            .product__title--desktop {
                display: none;

                @include media-query("medium") {
                    font-size: rem(18);
                    display: block;
                }
            }
        }

        &--right {
            display: flex;
            align-items: center;
            gap: rem(7);

            @include media-query("medium") {
                gap: rem(10);
            }

            .nav__bars {
                color: color("secondary");

                @include media-query("medium") {
                    display: none;
                }
            }

            .nav__search--mobile {
                .nav__search-overlay {
                    @include overlay;
                }

                .nav__search-form {
                    @extend %search-form;

                    gap: rem(5);
                    padding: rem(10);
                    background-color: color("light-grey");
                }

                .nav__caret {
                    font-size: rem(16);
                }

                .nav__search-input {
                    @extend %search-input;
                }

                .nav__search-close {
                    display: none;

                    &.show {
                        display: block;
                    }
                }

                .nav__matched-items {
                    margin: rem(20) rem(10);
                    max-height: 82vh;
                    overflow-y: auto;
                    display: grid;
                    grid-template-columns: 1fr;

                    @include scrollbar;

                    &::-webkit-scrollbar {
                        width: rem(6);
                    }

                    @include media-query(rem(700)) {
                        gap: 0 rem(10);
                        grid-template-columns: repeat(2, 1fr);
                    }
                }

                .nav__matched-item {
                    display: flex;
                    gap: rem(15);

                    &:not(:last-of-type) {
                        margin-bottom: rem(10);
                    }

                    &:hover,
                    &:focus {
                        background-color: color("light-grey");
                    }
                }

                .nav__matched-item-link {
                    text-transform: capitalize;
                }

                .nav__matched-img {
                    width: rem(130);
                    height: rem(100);
                    object-fit: cover;
                }

                .nav__see-results {
                    text-decoration: underline;
                    margin-top: rem(20);

                    @include media-query(rem(700)) {
                        grid-column: 1 / -1;
                    }

                    &>* {
                        color: color("secondary");
                    }
                }

                @include media-query("medium") {
                    display: none;
                }
            }

            .nav__search--desktop {
                display: none;

                @include media-query("medium") {
                    display: block;
                }

                .nav__search-form {
                    @extend %search-form;

                    width: rem(200);
                    padding: rem(3) rem(8);
                    background-color: color("light-grey");
                    border: rem(1) solid color("secondary");
                }

                .nav__search-input {
                    @extend %search-input;
                }

                .nav__search-glass {
                    cursor: pointer;
                }

                .nav__search-close {
                    display: none;
                    margin: 0 rem(8) 0 rem(5);
                    cursor: pointer;

                    &.show {
                        display: block;
                    }
                }

                .nav__matched-items {
                    position: absolute;
                    z-index: 1;
                    top: rem(50);
                    right: 0;
                    width: 60%;
                    max-height: 75vh;
                    overflow-y: auto;
                    padding: rem(20);
                    display: grid;
                    grid-template-columns: 1fr;

                    @include scrollbar;

                    &::-webkit-scrollbar {
                        width: rem(18);
                    }

                    &::-webkit-scrollbar-track {
                        background-color: color("primary");
                    }

                    &::-webkit-scrollbar-thumb {
                        border: 0.7vw solid color("primary");

                        @include media-query(rem(900)) {
                            border: 0.6vw solid color("primary");
                        }

                        @include media-query("large") {
                            border: 0.5vw solid color("primary");
                        }

                        @include media-query("x-large") {
                            border: 0.4vw solid color("primary");
                        }
                    }

                    @include media-query(rem(1100)) {
                        width: 75%;
                        gap: 0 rem(20);
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @include media-query("x-large") {
                        width: 70%;
                        max-width: rem(820);
                    }
                }

                .nav__matched-item {
                    cursor: pointer;
                    display: flex;
                    gap: rem(15);

                    &:not(:last-of-type) {
                        margin-bottom: rem(10);
                    }

                    &:hover,
                    &:focus {
                        background-color: color("light-grey");
                    }
                }

                .nav__matched-item-link {
                    text-transform: capitalize;
                }

                .nav__matched-img {
                    width: rem(130);
                    height: rem(100);
                    object-fit: cover;
                }

                .nav__see-results {
                    text-decoration: underline;
                    margin-top: rem(20);
                    grid-column: 1 / -1;

                    &>* {
                        color: color("secondary");
                    }
                }
            }

            .highlight {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    &__item {
        display: block;
        cursor: initial;
    }

    &__link {
        label {
            cursor: pointer;
        }

        font-weight: weight("bold");
        color: color("secondary");
    }

    &__matched-item-link {
        color: color("secondary");

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}